.cardContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 40px;
  justify-content: center;
}
.card {
  width: 400px;
  height: 300px;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  cursor: pointer;
}
.card i {
  font-size: 3rem;
  margin: 20px;
}
.card p {
  font-size: 1.5rem;
  font-weight: bold;
}
h1 {
  text-align: center;
}
