.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
}
.col {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: row-reverse;
}
.content a {
  width: 90%;
  margin: 20px auto;
}
.content a button,
.contentStudent a button {
  width: 100%;
  padding: 14px;
  cursor: pointer;
  border: none;
  background-color: antiquewhite;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}
table {
  min-width: 90%;
  border-collapse: collapse;
  margin: 0 auto;
  overflow-x: auto;
}
th {
  border: 1px solid black;
  padding: 10px;
}
td {
  border: 1px solid black;
  padding: 5px 10px;
}
table i {
  font-size: 1.2rem;
  cursor: pointer;
  margin-right: 10px;
}
.contentStudent {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contentStudent h1 {
  margin-bottom: 20px;
}
.contentStudent table {
  margin-top: 20px;
}
.searchPanel {
  width: 90%;
  background-color: antiquewhite;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchPanel form {
  width: 90%;
}
.searchPanel form > input[type="search"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
  width: calc(100% - 100px);
}
.searchPanel form > input[type="submit"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
}
